# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 2

Language: Cpp

ColumnLimit: 0

# 指针*号对齐
PointerAlignment: Right
DerivePointerAlignment: false

# 对齐相关
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: Align

# 分行相关
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false

BinPackArguments: false
BinPackParameters: false

BitFieldColonSpacing: Both

BreakBeforeBinaryOperators: All

CompactNamespaces: false

IndentCaseLabels: true